<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Escanear QR</title>
</head>
<body class="bg-light">

<div class="container py-5">
  <h3 class="mb-4">Escanea tu código QR para fichar</h3>

  <div class="scanner" id="scanner-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 ta-center">
          <div id="reader" style="height: 300px; width: 300px"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="actions" id="actions-wrapper" style="display:none;">
    <div class="container">
      <div class="row">
        <div class="col-4 ta-center">
          <button data-exit class="btn btn-primary">Fichar Salida</button>
        </div>
        <div class="col-4 ta-center">
          <button data-exit class="btn btn-primary">Fichar Descanso</button>
        </div>
        <div class="col-4 ta-center">
          <button data-exit class="btn btn-primary">Fichar Terminar Descanso</button>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
